<%- layout('./layouts/main.ejs') %>

<div class="mt-4 container">
    <figure class="col-md-8 ml-auto mr-auto text-center">
        <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/phone_call_grmk.svg" alt="home_img" style="width: 100%;">
        <h1 class="mt-4">The HOME</h1>
    </figure>
</div>